.elementor-453 .elementor-element.elementor-element-17e6d2a:not(.elementor-motion-effects-element-type-background), .elementor-453 .elementor-element.elementor-element-17e6d2a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://beachwoodelc.com.au/wp-content/uploads/2020/02/banner-internal-child-care-centre.png");background-repeat:no-repeat;background-size:cover;}.elementor-453 .elementor-element.elementor-element-17e6d2a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:7em 0em 2em 0em;}.elementor-453 .elementor-element.elementor-element-17e6d2a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-453 .elementor-element.elementor-element-f3397b9 > .elementor-container{max-width:1365px;}.elementor-453 .elementor-element.elementor-element-de75bdd{text-align:left;}.elementor-453 .elementor-element.elementor-element-de75bdd .elementor-heading-title{color:#000000;font-size:1.25rem;}.elementor-453 .elementor-element.elementor-element-de75bdd > .elementor-widget-container{padding:23px 3px 23px 30px;background-color:#FFFFFF;border-radius:50px 50px 50px 50px;}.elementor-453 .elementor-element.elementor-element-f6acc75 > .elementor-container{max-width:1000px;}.elementor-453 .elementor-element.elementor-element-f6acc75{margin-top:3%;margin-bottom:1%;}.elementor-453 .elementor-element.elementor-element-283bb6b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:35px;}.elementor-453 .elementor-element.elementor-element-128a17e{text-align:center;}.elementor-453 .elementor-element.elementor-element-128a17e .elementor-heading-title{color:#414141;line-height:1.7em;}.elementor-453 .elementor-element.elementor-element-b5348da > .elementor-container{max-width:1000px;}.elementor-453 .elementor-element.elementor-element-b5348da{margin-top:1%;margin-bottom:2%;}.elementor-453 .elementor-element.elementor-element-58094d1{text-align:left;}.elementor-453 .elementor-element.elementor-element-58094d1 .elementor-heading-title{color:#9ED7D3;line-height:1.7em;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper form .gform_body input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper textarea{padding:14px 20px 14px 20px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container select, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container .chosen-single{padding-top:calc( 14px - 2px );padding-right:20px;padding-bottom:calc( 14px - 2px );padding-left:20px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-check-style .gfield_checkbox input[type="checkbox"] + label:before, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-check-style .gfield_radio input[type="radio"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-check-style .ginput_container_consent input[type="checkbox"] + label:before{height:14px;width:14px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-check-style .gfield_checkbox input[type="checkbox"]:checked + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-check-style .ginput_container_consent input[type="checkbox"]:checked + label:before{font-size:calc( 14px / 1.2 );}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=email],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=text],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=password],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=url],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=number],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=date],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper select, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-container-single .chosen-single, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-container-multi .chosen-choices, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper textarea, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_radio input[type="radio"] + label:before, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .gf_progressbar,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{background-color:#FFFFFF;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gsection{border-bottom-color:#FFFFFF;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .gfield input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container select,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container .chosen-single,  
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container textarea,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .gfield input::placeholder,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container textarea::placeholder,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_checkbox input[type="checkbox"]:checked + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .uael-gf-select-custom:after {color:#414141;opacity:1;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_radio input[type="radio"]:checked + label:before{background-color:#414141;box-shadow:inset 0px 0px 0px 4px #FFFFFF;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=email],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=text],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=password],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=url],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=number],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=date],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper select,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-single,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper textarea,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_radio input[type="radio"] + label:before{border-style:solid;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=email],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=text],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=password],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=url],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=number],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=date],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper select,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-single, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-choices,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-container .chosen-drop,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper textarea,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_radio input[type="radio"] + label:before{border-width:1px 1px 1px 1px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=email],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=text],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=password],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=url],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=tel],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=number],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=date],
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper select,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-single,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-choices,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-container .chosen-drop,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper textarea,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
						.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_radio input[type="radio"] + label:before{border-color:#A5A5A5;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=email],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=text],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=password],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=url],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=number],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper input[type=date],
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper select,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-single, 
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-choices,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .chosen-container .chosen-drop,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper textarea,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{border-radius:25px 25px 25px 25px;}.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-check-style .gfield_checkbox input[type="checkbox"] + label:before,
					 .elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-check-style .gfield_radio input[type="radio"] + label:before,
					 .elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-check-style .ginput_container_consent input[type="checkbox"] + label:before{width:17px;height:17px;}.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-check-style .gfield_checkbox input[type="checkbox"]:checked + label:before,
					 .elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-check-style .ginput_container_consent input[type="checkbox"] + label:before{font-size:calc( 17px / 1.2 );}.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					 .elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .gfield_radio input[type="radio"] + label:before,
					 .elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{background-color:#FFFFFF;}.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .gfield_radio input[type="radio"] + label:before, 
					.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{border-color:#B8C6B8;border-width:1px;border-style:solid;}.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before, 
					.elementor-453 .elementor-element.elementor-element-dc82f33.uael-gf-check-yes .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{border-radius:18px 18px 18px 18px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="submit"], .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="button"]{padding:9px 45px 9px 45px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#9ED7D3;border-radius:24px 24px 24px 24px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="submit"], .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="button"],.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gf_progressbar_percentage span, .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .percentbar_blue span{color:#FFFFFF;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="submit"], .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="button"], .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gf_progressbar_percentage, .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .percentbar_blue{background-color:#9ED7D3;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .gfield_description.validation_message{color:#ff0000;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper div.validation_error{color:#cccccc;border-color:#ff0000 !important;border-top:2px;border-right:2px;border-bottom:2px;border-left:2px;border-style:solid;padding:10px 10px 10px 10px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_confirmation_message{color:#008000;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper li.gfield, .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gform_wrapper .gf_progressbar_wrapper{margin-bottom:-30px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gfield_label, .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gsection_title, .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .gf_progressbar_title{margin-bottom:0px !important;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container{margin-top:0px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style .ginput_container input{margin-bottom:0px;}.elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type=submit], .elementor-453 .elementor-element.elementor-element-dc82f33 .uael-gf-style input[type="button"]{font-family:"Capriola", Sans-serif;font-size:0.9rem;font-weight:600;}.elementor-453 .elementor-element.elementor-element-dc82f33 > .elementor-widget-container{margin:-24px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(min-width:768px){.elementor-453 .elementor-element.elementor-element-c532ce3{width:27%;}.elementor-453 .elementor-element.elementor-element-864c733{width:72.63%;}}@media(max-width:1024px) and (min-width:768px){.elementor-453 .elementor-element.elementor-element-c532ce3{width:50%;}.elementor-453 .elementor-element.elementor-element-864c733{width:50%;}}