.elementor-287 .elementor-element.elementor-element-78bdaf92{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 40% 0% 0%;}.elementor-287 .elementor-element.elementor-element-78bdaf92 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-287 .elementor-element.elementor-element-509c0e64 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:1px;}.elementor-287 .elementor-element.elementor-element-509c0e64 > .elementor-element-populated{padding:0% 15% 0% 15%;}.elementor-287 .elementor-element.elementor-element-5cfd9e9f{text-align:center;}.elementor-287 .elementor-element.elementor-element-5cfd9e9f .elementor-heading-title{color:#414141;}.elementor-287 .elementor-element.elementor-element-5cfd9e9f > .elementor-widget-container{margin:18px 18px 18px 18px;}.elementor-287 .elementor-element.elementor-element-10ee9e5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper form .gform_body input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]), 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper textarea{padding:14px 20px 14px 20px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container select, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container .chosen-single{padding-top:calc( 14px - 2px );padding-right:20px;padding-bottom:calc( 14px - 2px );padding-left:20px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-check-style .gfield_checkbox input[type="checkbox"] + label:before, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-check-style .gfield_radio input[type="radio"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-check-style .ginput_container_consent input[type="checkbox"] + label:before{height:14px;width:14px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-check-style .gfield_checkbox input[type="checkbox"]:checked + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-check-style .ginput_container_consent input[type="checkbox"]:checked + label:before{font-size:calc( 14px / 1.2 );}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=email],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=text],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=password],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=url],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=number],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=date],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper select, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-container-single .chosen-single, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-container-multi .chosen-choices, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper textarea, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_radio input[type="radio"] + label:before, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .gf_progressbar,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{background-color:#FFFFFF;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gsection{border-bottom-color:#FFFFFF;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .gfield input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container select,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container .chosen-single,  
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container textarea,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .gfield input::placeholder,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container textarea::placeholder,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_checkbox input[type="checkbox"]:checked + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .uael-gf-select-custom:after {color:#414141;opacity:1;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_radio input[type="radio"]:checked + label:before{background-color:#414141;box-shadow:inset 0px 0px 0px 4px #FFFFFF;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=email],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=text],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=password],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=url],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=number],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=date],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper select,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-single,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper textarea,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_radio input[type="radio"] + label:before{border-style:solid;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=email],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=text],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=password],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=url],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=number],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=date],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper select,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-single, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-choices,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-container .chosen-drop,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper textarea,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_radio input[type="radio"] + label:before{border-width:2px 2px 2px 2px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=email],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=text],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=password],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=url],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=tel],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=number],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=date],
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper select,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-single,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-choices,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-container .chosen-drop,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper textarea,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before,
						.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_radio input[type="radio"] + label:before{border-color:#9ED7D3;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=email],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=text],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=password],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=url],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=tel],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=number],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper input[type=date],
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper select,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-single, 
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-choices,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .chosen-container .chosen-drop,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper textarea,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_checkbox input[type="checkbox"] + label:before,
					.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container_consent input[type="checkbox"] + label:before{border-radius:40px 40px 40px 40px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="submit"], .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="button"]{padding:9px 45px 9px 45px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#9ED7D3;border-radius:24px 24px 24px 24px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="submit"], .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="button"],.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gf_progressbar_percentage span, .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .percentbar_blue span{color:#FFFFFF;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="submit"], .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="button"], .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gf_progressbar_percentage, .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .percentbar_blue{background-color:#9ED7D3;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .gfield_description.validation_message{color:#ff0000;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper div.validation_error{color:#cccccc;border-color:#ff0000 !important;border-top:2px;border-right:2px;border-bottom:2px;border-left:2px;border-style:solid;padding:10px 10px 10px 10px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_confirmation_message{color:#008000;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper li.gfield, .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gform_wrapper .gf_progressbar_wrapper{margin-bottom:-20px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gfield_label, .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gsection_title, .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .gf_progressbar_title{margin-bottom:0px !important;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container{margin-top:0px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style .ginput_container input{margin-bottom:0px;}.elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type=submit], .elementor-287 .elementor-element.elementor-element-7bd426e .uael-gf-style input[type="button"]{font-family:"Capriola", Sans-serif;font-size:0.9rem;font-weight:600;}.elementor-287 .elementor-element.elementor-element-7bd426e > .elementor-widget-container{margin:-27px 0px 0px 0px;padding:0px 0px 0px 0px;}#elementor-popup-modal-287 .dialog-message{width:909px;height:611px;align-items:center;}#elementor-popup-modal-287{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(65, 65, 65, 0.5);}#elementor-popup-modal-287 .dialog-close-button{display:block;top:0%;}#elementor-popup-modal-287 .dialog-widget-content{animation-duration:1.2s;background-image:url("http://web-proof.net/beachwood-early-learning/wp-content/uploads/2020/02/pop-up-beachwood.jpg");background-size:cover;border-radius:106px 106px 106px 106px;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}body:not(.rtl) #elementor-popup-modal-287 .dialog-close-button{right:0%;}body.rtl #elementor-popup-modal-287 .dialog-close-button{left:0%;}#elementor-popup-modal-287 .dialog-close-button i{color:#ffffff;}@media(max-width:767px){.elementor-287 .elementor-element.elementor-element-78bdaf92{padding:0px 0px 0px 0px;}.elementor-287 .elementor-element.elementor-element-509c0e64 > .elementor-element-populated{padding:0px 35px 0px 35px;}#elementor-popup-modal-287 .dialog-widget-content{background-position:center center;border-radius:89px 89px 89px 89px;}}